<html>
    <head>
        <title>First html template with EJS</title>
    </head>
    <body>
        <h1 style="color:pink;text-align:center">First html template with EJS</h1>
        <h2>This is EJS(Embedded Javascript)<%=70+7%></h2>
        <p><%= 'it is a beginning of new year'.toUpperCase()%></p>
        <p>Hello,Everyone hope all are doing well.</p>
    </body>
    </html>